body {
    background-color:#363738;
    max-width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    height: auto;

}

.nav li {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0px;
}

.middle {
    text-align: center;

    background-color: white;

}
.hea{
   font-family: 'Marcellus', serif;
/*font-family: 'Open Sans', sans-serif;*/
    font-size: 24px;
    color: black;
     top: 55px;

}
.boutrow{
    text-align: left;
    font-family: 'Jura', sans-serif;
}
.boutimg{
    height: 30%;
    width: 50%;
}
.p{
    font-family: 'Jura', sans-serif;
/*   font-family: 'Wire One', sans-serif;*/
/*    font-family: 'Marcellus', serif;*/
    text-decoration-style: wavy;
    color: black;
    font-size: 20px;
    margin-right: 60px;
    margin-left: 60px;

}
.box{
/*   box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 3, 0.19);*/
    box-shadow: 0 10px 15px rgba(0, 0,0, 0.3);
/*    font-family: 'Marcellus', serif;*/
    font-family: 'Jura', sans-serif;
    text-align: left;
    font-size: 16px;
    color: black;
    height: auto;

}
.con{
    margin-right: 0px;
    font-size: 20px;
    text-align: right;
}
.thirdrow{
   padding: 5px;
    margin: 10px;
}
.image{
    width: 100%;
    height: 50%;
}

.head {
    background-color: red;
    margin-bottom: 0px;
    padding: 0px;
     margin-top: 30px;
}
.feature{
    display:block;
    padding: 5px;

}
.feature-images{
    width: 30%;
    height: 30%;
}

.nav li a:hover {
    background-color: white;
    color: black;
}

.nav li a {
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 5px;

}
.nav li .active{
    background-color: white;
    color: black;
}
.fa-list.modify{
    display:none;
    font-size: 35px;
    position: absolute;
    right: 30px;
    top:30px;
     cursor: pointer;
}
.icons{
align-content: right;
    margin-right: 0px;
}

/*slider*/

img {
    width: 50%;
    height: 30px;
}

.slide-window {
    /*border:1px solid black;*/
    width: 100%;
    height: auto;
    /* background-color:red;*/
    overflow: hidden;
    position: relative;
    margin: 0px;
    padding: 0px;
}

.slide-holder {
    width: 300%;
    background-color: blue;
    margin-left: 0%;
    transition: margin-left 1s;
    /*  this is the bit that needs to change to slide the slide*/
}

.slide {
    width: 33.33%;
    height: auto;
    float: left;
}

.footer {
    background-color: red;
    width: 100%;
    text-align: center;
    color: black;
}

p {
    color: black;
}

.liguid {
    color: #EDEDED;
    margin-top: -3%;
}

.powered {
    color: #EB008B;
}
@media screen and (max-width: 1025px){
    .head{
         margin-top: 0px;
    }

        .nav li {
        text-decoration: none;
        display: block;
        border-radius: 5px;
        padding: 5px;
        margin-right: 0px;
        text-align: right;
        margin-right: 0px;


    }


    .nav li a:hover {
        background-color: white;
        color: black;
    }

    .nav li a {
        border-radius: 5px;
        background-color: black;
        color: white;
        font-size: 20px;
        padding: 5px;
    }
    .fa-list.modify{
        display: block;
    }
    .con{
        margin-right: 0px;
    font-size: 15px;
        text-align: center;
        padding: 5px;

    }
    body{
        overflow-x: hidden;
    }
    .fucultydiv :not(img){
    position: absolute;
    top: 100%;
    left: 3%;
    z-index: 1;
    color: white;
    text-align: center;
    width: 52%;
    opacity: 0;
    transition: .3s;

    }}
.facebook{
    color: blue;
}
.twitter{
    color: aqua;
    }
.fucultyimage{
    height: 40%;
    width: 40%;
    border-radius: 4px;
    transition: .3s;

}
.fucultyimage:hover{
    filter: blur(2px)brightness(70%);
    box-shadow: 0 0 16px cyan;
}


.fucultydiv{
     padding: 3px;
    position: relative;
}
.fieldset{
    color: black;
    text-align: left;
    font-weight: 500;
}
.h1{
    color: black;
    text-shadow: 2px 2px 4px #000000;
}
/* facility images css*/

.fucultydiv :not(img){
    position: absolute;
    top: 20%;
    left: 2%;
    z-index: 1;
    color: white;
    text-align: center;
    width: 30%;
    opacity: 0;
    transition: .3s;
}
.fucultydiv:hover :not(img){
    opacity: 1;
}
.fucult{
    display:block;
    padding: 2px;
}

/*services*/
.firstdiv{
    display: block;
  font-family: 'Jura', sans-serif;
}
.firstdiv img{
    display:block;
    width: 100%;
    height: 100%;
    padding: 5px;
     left: 0px;
}
h4{
    font-weight: bold;


}
.otherservices{
    text-align: left;
    font-family: 'Jura', sans-serif;

}
.firstdiv h5{
font-family: 'Jura', sans-serif;
}


