body {
    background-color: #F2F1F0;
    max-width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    height: auto;
}

.nav li {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0px;
}

.middle {
    background-color: black;
    height: 300px;
}

.con{
    margin-right: 0px;
    font-size: 20px;
    text-align: right;
}


.head {
    background-color: red;
    margin-bottom: 0px;
    padding: 0px;
}

.nav li a:hover {
    background-color: white;
    color: black;
}

.nav li a {
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 5px;

}
.fa-list.modify{
    display:none;
    font-size: 35px;
    position: absolute;
    right: 30px;
    top:30px;
     cursor: pointer;
}
.icons{
align-content: right;
    margin-right: 0px;
}

/*slider*/

img {
    width: 50%;
    height: 30px;
}

.slide-window {
    /*border:1px solid black;*/
    width: 100%;
    height: auto;
    /* background-color:red;*/
    overflow: hidden;
    position: relative;
    margin: 0px;
    padding: 0px;
}

.slide-holder {
    width: 300%;
    background-color: blue;
    margin-left: 0%;
    transition: margin-left 1s;
    /*  this is the bit that needs to change to slide the slide*/
}

.slide {
    width: 33.33%;
    height: auto;
    float: left;
}

.footer {
    background-color: red;
    width: 100%;
    text-align: center;
    color: black;
}

p {
    color: black;
}

.liguid {
    color: #EDEDED;
    margin-top: -3%;
}

.powered {
    color: #EB008B;
}
@media screen and (max-width: 1025px){


        .nav li {
        text-decoration: none;
        display: block;
        border-radius: 5px;
        padding: 5px;
        margin-right: 0px;
        text-align: right;
        margin-right: 0px;


    }


    .nav li a:hover {
        background-color: white;
        color: black;
    }

    .nav li a {
        border-radius: 5px;
        background-color: black;
        color: white;
        font-size: 20px;
        padding: 5px;
    }
    .fa-list.modify{
        display: block;
    }
    .con{
        margin-right: 0px;
    font-size: 15px;
        text-align: center;
        padding: 5px;

    }
/*
    body{
        overflow-x: hidden;
    }
*/

}
.facebook{
    color: blue;
}
.twitter{
    color: aqua;
    }
